#header{
    display: flex;
    position: fixed;
    left: 50%;
}

body{
    background-color: rgb(216, 216, 216);
    font-family: 'Antic Didone', serif;
}

p{
    font-size: 1.3vw; 
}

.grid{
    display: grid;
    grid-template-areas:
        "title_grid title_grid"
        ". parte1"
        "media3 parte2"
        "media6 ."
        ". parte3"
        "parte4 parte5";
    grid-template-rows: 1fr 2fr 3fr 3fr 1fr 2fr;
    gap: 10px;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

#title-grid{
    grid-area: title_grid;
    justify-self: center;
}

#parte1{
    grid-area: parte1;
}

#media3{
    grid-area: media3;
}

#parte2{
    grid-area: parte2;
    background-image: linear-gradient(to bottom, yellow,white);

}

#media6{
    grid-area: media6;
}

#parte3{
    grid-area: parte3;
    background-image: linear-gradient(to bottom, yellow,white);
}

#parte4{
    grid-area: parte4;
}

#parte5{
    grid-area: parte5;
}

section{
    background-color: rgb(255, 255, 255);
}

#yo{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.gridabout{
    display: grid;
    grid-template-areas:
        "title_about title_about"
        "textabout mediayo"
        "parte6 parte7";
    grid-template-rows: 1fr 4fr 2fr;
    gap: 20px;
    grid-template-columns: 50% 50%;
    padding: 20px;
}

#title_about{
    grid-area: title_about;
}

#textabout{
    grid-area: textabout;
    text-align: justify;
}

#mediayo{
    grid-area: mediayo;
}

#parte6{
    grid-area: parte6;
}

#parte7{
    grid-area: parte7;
}

.gridprojects{
    display: grid;
    grid-template-areas:
        ". title_projects"
        "textmezc mezc"
        "lirio textlirio";
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    row-gap: 50px;
    grid-template-columns: 50% 50%;
    padding: 20px;
    align-items: start;
}

#textmezc{
    grid-area: textmezc;
    text-align: justify;
}

#mezc{
    grid-area: mezc;
}

#lirio{
    grid-area: lirio;
}

#textlirio{
    grid-area: textlirio;
}

/* .gridcontact{
    display: grid;
    background-color: aliceblue;
    grid-template-areas:
    "hello"
    "form"
    padding: 20px;
    justify-content: center;
}

#hello{
    grid-area: hello;
}

#form{
    grid-area: form;
} */

#contactpage{
    display: flexbox;
    flex-direction: column;
    padding: 10%;
    justify-content: space-evenly;}

#form{
background-color: rgb(255, 255, 255);
padding: 20px;
}


#footer{
    background-color: black;
    color: rgb(255, 255, 255);
    width: 100%;
    height: fit-content;
    padding: 2%;
    display: block;
}

h4{
    font-size: 1vw;
}

#contactme{
    font-style: italic;
}

/* .gridfooter{
    display: grid;
    grid-template-areas:
        "redes footergridpo footergridmenu";
    grid-template-rows: 1fr 4fr 2fr;
    gap: 20px;
    grid-template-columns: 50% 50%;
    padding: 20px;
} */

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#redes{
    grid-area: redes;
}

.redes1{
    height: 2vw;
    width: auto;
    padding-top: 1vw;

}

#footergridpo{
    grid-area: footergridpo;
}

#footergridmenu{
    grid-area: footergridmenu;
}

/* #ig{
    left: 0%; position: relative;
    display:inline-block;
}
#be{
    left: 2%; position: relative;
    display: inline-block;
} */
/* #po{
    left: 30%; position: relative;
    display: inline-block;
}
#menu{
    left: 60%; position: relative;
    display: inline-block;
} */

ul{
    list-style: none;
    font-size: 1.3vw
}
